@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@800&display=swap');

body {
    height: 100vh;
    width: 100vw;
    padding: 0 auto;
    margin: 0 auto;
    overflow: none;
    overflow-x: hidden;
}

.page-container {
    max-width: 1000px;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    display: grid;
    grid-template-rows: 20% 80%;
}

header {
    height: 25vh;
    width: 100vw;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.nav-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
}

.page-title {
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    padding-left: 0.5em;
}

.nav-list {
    display: inline-block;
}

.nav-links, :visited {
    display: inline-block;
    padding-right: 0.5em;
    top: 5vh;
    position: relative;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.5em;
    color: #444;
}

.search-bar {
    height: 30%;
    width: 90%;
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    margin: 1.75em auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

main {
    height: 80vh;
    width: 100vw;
    background-color: #fff;
    overflow: scroll;
    overflow-x: hidden;
    border: solid #000 1px;
}

article {
    width: 60vw;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.blog-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    text-align: center;
}
.blog-para-one {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    columns: 1;
    line-height: 2em;
}

blockquote {
    font-family: 'Playfair Display', serif;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 60px;
    text-align: center;
    border-top: dotted #000 1px;
    border-bottom: dotted #000 1px;
}

.blog-para-two {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    columns: 2;
    column-gap: 40px;
    line-height: 2em;
    padding-bottom: 2em;
    column-rule: dotted #000 1px;
}

.blog-para-three {
    font-family: 'Poppins', sans-serif;
    columns: 3;
    text-align: left;
    line-height: 2em;
    column-gap: 40px;
    column-rule: dotted #000 1px;
}

.form {
    font-family: 'Poppins', sans-serif;
    width: 10vw;
    text-align: left;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
}

footer {
    height: 10vh;
    width: 100vw;
    text-align: center;
    border: #000 solid 1px;
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding-top: 3em;
}